
#page {
    margin-left: 15%;
}


canvas {
    float: left;
    width: 960px;
    height: 960px;
    margin-left: 15%;

    border: 1px solid #cccccd;
    background-color: grey;
  }

#controls {
    float: left;
    width: 15%;
    margin-left: -15%;

}

#sliders {
    margin-top: 50px
}

#renderOpt {
    margin-top: 50px
}

.slidecontainer {
    width: 50%;
  }

.clear { clear:both; }